@tailwind base;

--rich-black-fogra-39: #0a0a0aff;
--eerie-black: #1a181aff;
--davys-grey: #505050ff;
--persian-red: #d1342fff;
--black-olive: #434038ff;
--dutch-white: #eee3c1ff;


--pink : #FF95C5
--red: #FF0000
// red round border

.dark {
  background-color: #3B0000;
  color: #FFF6CD;
}

.light{
  background-color: #FFF6CD;  
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
