@tailwind base;

--pink: #FF95C5;
--red: #FF0000;

.dark {
  background-color: #3B0000;
  color: #FFF6CD;
}

.light {
  background-color: #FFF6CD;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

.skip-nav {
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  z-index: 9999;
}

.skip-nav:focus,
.skip-nav:active {
  top: 0;
}

@tailwind components;

@tailwind utilities;

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68D391;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.font-canopee {
  letter-spacing: .05em;
}

.font-nanjaunemaxi {
  font-weight: 500;
  letter-spacing: .03em;
}

.font-nanjaunemini {
  font-weight: 900;
  letter-spacing: .03em;
  text-transform: uppercase;
}

@layer base {
  @font-face {
    font-family: Metropolis;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Metropolis-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: Pilowlava;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Pilowlava-Regular.otf") format('opentype');
  }

  @font-face {
    font-family: NaN Jaune Mini;
    font-display: swap;
    src: url("../fonts/NaNJaune-MiniBlond-1.otf") format('opentype');
  }

  @font-face {
    font-family: NaN Jaune Maxi;
    font-display: swap;
    src: url("../fonts/NaNJaune-MaxiBold-1.otf") format('opentype');
  }

  @font-face {
    font-family: Canopee;
    font-display: swap;
    src: url("../fonts/canopee.woff") format('woff');
    letter-spacing: .3em;
  }

  @font-face {
    font-family: Literata;
    font-display: swap;
    src: url("../fonts/Literata_20pt-Regular.ttf") format('truetype');
  }
}
